{% extends 'layouts/auth_layout.html' %}
{% load static %}

{% block title %}
	Registrarse | FeCH
{% endblock %}

{% block title_form %}
    Registrarse
{% endblock title_form %}

{% block url_img %}
    <img src={% static 'media/user/auth_register.jpeg' %} alt="Imagen de ejemplo" class="object-cover rounded-t-lg md:rounded-l-lg h-full w-full " />
{% endblock url_img%}

{% block extra_field %}
    <div class="mb-4">
        <label for="password" class="block text-md font-medium text-white">Repetir contraseña</label>
        <input type="password" id="password" name="password" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md" />
    </div>
{% endblock extra_field %}

{% block name_button %}
    Registrarse
{% endblock name_button %}

{% block name_a %}
    <a href="{% url 'user:auth_login' %}" class="text-sm font-onest mt-8">¿Ya tienes una cuenta? <span class="font-semibold underline">Inicia sesion </span></a>
{% endblock name_a %}

