{% extends 'layouts/auth_layout.html' %}
{% load static %}

{% block title %}
	Iniciar sesion | FeCH
{% endblock %}

{% block title_form %}
    Iniciar sesion
{% endblock title_form %}

{% block url_img %}
    <img src={% static 'media/user/auth_login.png' %} alt="Imagen de ejemplo" class="object-cover rounded-t-lg md:rounded-l-lg h-full w-full " />
{% endblock url_img%}

{% block form_fields %}
    <div class="mb-4">
        <label for="{{ form.username.id_for_label }}" class="block text-md font-medium text-white">Nombre de usuario</label>
        {{ form.username }}
    </div>
    <div class="mb-4">
        <label for="{{ form.password.id_for_label }}" class="block text-md font-medium text-white">Contraseña</label>
        {{ form.password }}
    </div>
{% endblock form_fields %}

<div class="flex justify-end mt-4">
    <button type="submit" 
            class="py-2.5 px-5 me-2 mb-2 text-lg font-onest font-medium text-white bg-[#03346E] rounded-full hover:bg-[#03346E] focus:outline-none focus:ring-4 focus:ring-[#03346E]">
         {% block name_button %}
            Iniciar Sesion
         {% endblock name_button %}
    </button>
</div>

{% block name_a %}
    <div class="w-full flex justify-center mt-8">
        <a href="{% url 'user:auth_register' %}" class="text-sm font-onest text-center">
            ¿Todavía no tienes cuenta? 
            <span class="font-semibold underline hover:text-[#03346E]">Regístrate</span> <!-- Cambia el color al pasar el mouse -->
        </a>
    </div>

<div class="flex justify-center mt-4">
    <a href="{% url 'home' %}" 
       class="text-lg font-onest text-white underline hover:font-semibold">
        Volver
    </a>
</div>
{% endblock name_a %}