{% extends 'layouts/auth_layout.html' %}
{% load static %}

{% block title %}
    Registrarse | FeCH
{% endblock %}

{% block title_form %}
    Registrarse
{% endblock %}

{% block url_img %}
    <img src="{% static 'media/user/auth_register.jpeg' %}" alt="Imagen de ejemplo" class="object-cover rounded-t-lg md:rounded-l-lg h-full w-full" />
{% endblock url_img %}

{% block extra_field %}
    <!-- Campo de repetir contraseña -->
    <div class="mb-4">
        <label for="id_password2" class="block text-md font-medium text-white">Repetir contraseña</label>
        {{ form.password2 }}
        <div class="text-red-600 text-sm">
            {{ form.password2.errors }}
        </div>
    </div>
{% endblock extra_field %}

<div class="flex justify-end mt-4">
    <button type="submit" 
            class="py-2.5 px-5 me-2 mb-2 text-lg font-onest font-medium text-white bg-[#03346E] rounded-full hover:bg-[#03346E] focus:outline-none focus:ring-4 focus:ring-[#03346E]">
         {% block name_button %}
            Registrarse
         {% endblock name_button %}
    </button>
</div>

{% block name_a %}
<div class="w-full flex justify-center mt-4"> <!-- Cambiado mt-8 a mt-4 para reducir el espacio -->
    <a href="{% url 'user:auth_login' %}" class="text-sm font-onest text-center">
        ¿Ya tienes una cuenta? <span class="font-semibold underline hover:text-[#03346E]">Inicia sesión</span>
    </a>
</div>
<div class="flex justify-center mt-4">
    <a href="{% url 'user:auth_login' %}" 
       class="text-lg font-onest text-white underline hover:font-semibold">
        Volver
    </a>
</div>
{% endblock name_a %}

