{% extends 'layouts/main_layout.html' %}

{% block title_layout %}
    {% block title %}
        FeCH | Auth
    {% endblock %}
{% endblock %}

{% block content_layout %}
<main class="flex items-center justify-center min-h-screen {{ color_bg }} sm:p-4">
    <div class="container mx-auto w-full max-w-[1000px] h-auto {{ color_bg_form }} shadow-lg rounded-lg flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 flex items-center justify-center">
            {% block url_img %} {% endblock url_img %}
        </div>

        <div class="w-full md:w-1/2 flex flex-col items-center justify-center p-8 text-white">
            <h1 class="text-5xl font-slackey font-bold mb-4">{% block title_form %} {% endblock title_form %}</h1>
            
            <form class="w-full font-onest mt-8 gap-4" method="POST" novalidate>
                {% csrf_token %}
                {% block form_fields %}
                <!-- Los campos del formulario de login-->
                <div class="mb-4">
                    <label for="{{ form.username.id_for_label }}" class="block text-md font-medium text-white">Nombre de usuario</label>
                    {{ form.username }}  <!-- Campo de nombre de usuario -->
                </div>

                <div class="mb-4">
                    <label for="{{ form.password1.id_for_label }}" class="block text-md font-medium text-white">Contraseña</label>
                    {{ form.password1 }}  <!-- Campo de contraseña -->
                </div>

                {% block extra_field %} {% endblock extra_field %}
                {% endblock form_fields %}
                
                <!-- Botón de envío -->
                <div class="flex justify-end mt-4">
                    <button type="submit" 
                            class="py-2.5 px-5 me-2 mb-2 text-lg font-onest font-medium text-white bg-[#03346E] rounded-full hover:bg-[#03346E] focus:outline-none focus:ring-4 focus:ring-[#03346E]">
                        {% block name_button %} {% endblock name_button %}
                    </button>
                </div>
                {% block name_a %} {% endblock name_a %}
                <div class="flex justify-center mt-4">
                    <a href="javascript:history.back()" 
                       class="text-lg font-onest text-white underline hover:font-semibold">
                        Volver
                    </a>
                </div>

            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');

        form.onsubmit = function(event) {
            var username = document.getElementById("id_username").value.trim();
            var password = document.getElementById("id_password1").value.trim();

            if (username === "" || password === "") {
                alert("Por favor, completa todos los campos.");
                event.preventDefault();
                return false;
            }

            return true;
        };
    });
</script>
{% endblock content_layout %}