{% extends 'layouts/main_layout.html' %}
{% block title_layout %}
	{% block title %}
		FeCH | Pagina
	{% endblock %}
{% endblock %}

{% block extra_head_layout %}
	{% block extra_head %}
		
	{% endblock %}
{% endblock %}

{% block content_layout %}
    {% include 'components/commons/header.html' %}
    {% include 'components/commons/home.html' %}
    {% include 'components/ui/blockDecoration.html' %}
	<main class="flex justify-center min-h-[calc(100dvh-1250px)]">
        <article class="grid">
            <section class="container mx-4 md:mx-8 lg:mx-40">
                {% block content %}{% endblock %}
            </section>
        </article>
    </main>
    {% include 'components/commons/footer.html' %}
{% endblock %}

