{% extends 'layouts/main_layout.html' %}

{% block title_layout %}
	{% block title %}
		FeCH | Pagina
	{% endblock %}
{% endblock %}

{% block extra_head_layout %}
	{% block extra_head %}
		
	{% endblock %}
{% endblock %}

{% block content_layout %}
    {% include 'components/commons/header.html' %}
    <main class="flex justify-center min-h-[calc(100vh-125px)] overflow-x-hidden">
        <article class="grid">
            {% include 'components/commons/searchBar.html' %}
            <section class="container mx-auto">
                {% block content %}{% endblock %}
            </section>
        </article>
    </main>
{% endblock %}