{% extends 'layouts/main_layout.html' %}

{% block title_layout %}
	{% block title %}
		FeCH | Pagina
	{% endblock %}
{% endblock %}

{% block content_layout %}
    <div class="grid grid-rows-[96px_1fr_56px] min-h-screen">
        {% include 'components/commons/header.html' %}
        <main class="flex justify-center">
                <section class="container mx-auto mb-8 sm:mb-4">
                    {% block content %}{% endblock %}
                </section>
        </main>
        {% include 'components/commons/footer.html' %}
    </div>
{% endblock %}

