{% extends 'layouts/post_layout.html' %}
{% block title %}
	Post | List
{% endblock %}
{% block content %}
    <section class="flex flex-wrap justify-center items-center gap-2">
        {% include 'components/ui/card.html' %}
        {% include 'components/ui/card.html' %}
        {% include 'components/ui/card.html' %}
        {% include 'components/ui/card.html' %}
        {% include 'components/ui/card.html' %}
        {% include 'components/ui/card.html' %}
    
    </section>

{% endblock %}