{% extends 'layouts/index_layout.html' %}

{% block title_layout %}
	{% block title %}
		Post | FeCH
	{% endblock %}
{% endblock %}

{% block content_layout %}
    <div class="grid grid-rows-[96px_1fr_56px] min-h-screen">
        {% include 'components/commons/header.html' %}
        <section class="grid gap-4">
            <div class="flex justify-end max-w-7xl items-center gap-2 mt-2">
                <a href="{% url 'post:post_update' slug=post.slug %}" class="px-3 py-2 text-sm font-medium text-center justify-between gap-2 inline-flex items-center text-white bg-green-900 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-800 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                    </svg>
                    Editar
                </a>
                <a href="{% url 'post:post_delete' slug=post.slug %}"  class="px-3 py-2 text-sm font-medium text-center justify-between gap-2 inline-flex items-center text-white bg-red-900 rounded-lg hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-800 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                    Eliminar
                </a>
            </div>
            <header class="container mx-auto py-10 px-4">
                <h1 class="text-4xl lg:text-5xl font-bold text-center mb-4 text-white font-bold uppercase">
                  {{ post.title }}
                </h1>
                <p class="text-center text-md lg:text-lg mb-6 text-gray-300 font-regular">
                  {{ post.content }} | {{ post.creation_date }}
                </p>

                <div class="w-full lg:w-3/4 mx-auto mb-6">
                     {% if active_images %}
                        {% for image in active_images %}
                            <img src="{{ image.image.url }}"
                             alt="Portada del post {{ img.id }}"
                             class="w-[1100px] h-[500px] object-cover aspect-[16/9]" />
                        {% endfor %}
                    {% endif %}
                </div>

                <section class="text-start text-lg lg:text-xl mb-8 max-w-3xl mx-auto gap-2 font-onest font-normal text-gray-300">
                    <p>
                      {{ post.content }}
                    </p>
                    <p>
                      {{ post.content }}
                    </p>
                </section>
            </header>

            
            <main class="container mx-auto py-10 px-4 mt-8 gap-4">
              <h1 class="text-start text-xl lg:text-3xl mb-8 max-w-3xl mx-auto gap-2 font-slackey font-normal text-white">Comentarios</h1>
              
              <aside class="container mx-auto py-10 px-4 mt-8 gap-4">
                  {% if post.comments.count > 0 %}
                      <ul>
                          {% for comment in post.comments.all %}
                              <li class="mb-8">
                                  <div class="bg-white p-4 rounded-lg shadow-md">  <!-- Fondo blanco y estilo para cada comentario -->
                                      {% if comment.id == editing_comment_id %}
                                          <!-- Formulario de actualización -->
                                          <form method="post" action="{% url 'post:comment_update' comment.id %}">
                                              {% csrf_token %}
                                              <p class="flex flex-col">{{ edit_comment_form.content.label_tag }} {{ edit_comment_form.content }}</p>
                                              <button type="submit" class="text-blue-500">Actualizar</button>
                                              <a href="{% url 'post:post_detail' post.slug %}" class="text-red-500">Cancelar</a>
                                          </form>
                                      {% elif comment.id == deleting_comment_id %}
                                          <!-- Formulario de confirmación de eliminación -->
                                          <form method="post" action="{% url 'post:comment_delete' comment.id %}">
                                              {% csrf_token %}
                                              <p>¿Estás seguro de que deseas eliminar este comentario?</p>
                                              <button type="submit" class="text-blue-500">Confirmar</button>
                                              <a href="{% url 'post:post_detail' post.slug %}" class="text-red-500">Cancelar</a>
                                          </form>
                                      {% else %}
                                          <!-- Comentario -->
                                          <p>{{ comment.content }}</p>
                                          <small>Escrito por <strong>{{ comment.author.username }}</strong> el {{ comment.creation_date }}</small>
                                          {% if comment.author == user %}
                                              <a href="?edit_comment={{ comment.id }}" class="text-blue-500">Editar</a>
                                              <a href="?delete_comment={{ comment.id }}" class="text-red-500">Eliminar</a>
                                          {% elif user.is_collaborator and post.author == user and not comment.author.is_admin and not comment.author.is_superuser or user.is_superuser or user.is_admin %}
                                              <a href="?delete_comment={{ comment.id }}" class="text-red-500">Eliminar</a>
                                          {% endif %}
                                      {% endif %}
                                  </div>
                              </li>
                          {% endfor %}
                      </ul>
                  {% else %}
                      <p>No hay comentarios aún.</p>
                  {% endif %}
                
                  {% if user.is_authenticated %}
                      <h4>Agregar un comentario</h4>
                      <form method="post" action="{% url 'post:comment_create' post.slug %}">
                          {% csrf_token %}
                          <p class="flex flex-col mt-4 mb-8">{{ add_comment_form.content.label_tag }} {{ add_comment_form.content }}</p>
                          <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg">Agregar comentario</button>
                      </form>
                  {% else %}
                      <p>
                          <a href="{% url 'user:auth_login' %}?next={{ request.path }}" class="hover:text-blue-500">
                              Inicia sesión
                          </a>
                          para agregar un comentario.
                      </p>
                  {% endif %}
              </aside>
          </main>
        </section>
        {% include 'components/commons/footer.html' %}
    </div>
{% endblock %}