{% load static %}

<main class="h-[1100px] bg-[url({% static 'media/user/Wall.png' %})] bg-cover w-full  backdrop-blur-md">
    <aside class="grid place-content-start items-center gap-8 ml-32">
        <div class="grid mt-8">
            <h1 class="text-[150px] text-title font-splash">FeCH</h1>
            <p class="text-md justify-center text-center text-title font-martian">Festivales chaqueños</p>
        </div>
        <article class="grid gap-4">
            <p class="text-xl text-[#3C3D37] max-w-md font-onest">
                Sitio dedicado a ofrecerte la información más completa sobre los eventos culturales de la región chaqueña.
            </p>
            <div class="flex justify-center items-center">
                {% include 'components/ui/button.html' with title_button="Novedades" %}
            </div>
        </article>
    </aside>
</main>
