<main class="gap-4 sm:mx-8 sm:h-auto mt-8">
  <aside class="flex sm:grid sm:grid-cols-2 sm:items-center sm:justify-between">
    <h1 class="font-slackey lg:text-4xl text-[#ffad60] sm:col-span-1 sm:order-1 sm:text-xl">
      Disfruta de los mejores eventos
    </h1>
    <div class="flex gap-4 sm:justify-end sm:col-span-1 sm:order-2">
        <form method="GET" class="flex flex-col sm:flex-row gap-4 font-onest">
            <div>
                <select name="location" id="location" class="block font-onest py-2.5 px-0 w-full text-lg text-white appearance-none bg-transparent border-0 border-b-2 border-white dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer cursor-pointer">
                    <option value="" class="text-black sm:text-xs">Ubicación</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}"{% if request.GET.location == location.id %} selected{% endif %} class="text-black text-sm">{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <select name="category" id="category" class="block font-onest py-2.5 px-0 w-full text-lg text-white appearance-none bg-transparent border-0 border-b-2 border-white dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer cursor-pointer">
                    <option value="" class="text-black sm:text-xs">Categoría</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"{% if request.GET.category == category.id %} selected{% endif %} class="text-black text-sm">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <select name="order_by" id="order_by" class="block font-onest py-2.5 px-0 w-full text-lg text-white appearance-none bg-transparent border-0 border-b-2 border-white dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer cursor-pointer">
                    <option value="creation_date" {% if request.GET.order_by == "creation_date" %} selected{% endif %} class="text-black text-sm sm:text-xs">Fecha de creación</option>
                    <option value="title" {% if request.GET.order_by == "title" %} selected{% endif %} class="text-black text-sm">Título</option>
                </select>
            </div>
            <button type="submit" class="py-2.5 px-5 m-2 uppercase text-lg font-onest font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-600 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Aplicar</button>
        </form>
    </div>
  </aside>

  <article class="sm:col-span-3 sm:mt-8 lg:mt-16">
    <form class="max-w-xl mx-auto sm:mt-4 text-left" method="POST"> {% csrf_token %}
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escribe el evento que deseas encontrar" required />
        <button type="submit" class="text-white font-onest absolute end-2.5 bottom-2.5 bg-[#17153B] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 ">Buscar</button>
      </div>
    </form>
  </article>
</main>