{% load static %}
<a href="/" class="max-w-sm bg-gray-100 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden font-onest p-2">
  <div class="p-2">
    <h2 class="text-lg font-bold text-white">Festival Nacional del Algodón</h2>
  </div>
  <img class="w-full h-56 object-cover rounded-lg" src="{% static 'media/user/Wall.png' %}" alt="logo">
  <div class="mt-4 shadow dark:bg-gray-800 dark:border-gray-700 font-onest">
    <div class="bg-[#34455d] p-4 rounded-lg shadow-lg">
      <h3 class="text-md font-semibold text-white">Presidencia Roque Saenz Peña</h3>
      <p class="text-sm text-gray-300">04/08/2024</p>
    </div>
  </div>
  <div class="px-4 py-2 text-gray-500 flex justify-between text-sm">
      <p>1234 com.</p>
      <p class="text-sm text-teal-600">usuario</p>
  </div>
</a>

