
<article class="max-w-sm bg-gray-100 w-[320px] rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden font-onest p-2">

    <div class="p-2">
        <h2 class="font-bold text-[#ffad60] uppercase" style="font-weight: 700; font-size: 1.5rem;">{{ title }}</h2>
    </div>


    <!-- Aca empieza mi carrucel  -->
    <div class="relative w-full">
        {% if images %}
            {% if images|length == 1 %}
                <!-- Mostrar solo una imagen si hay una sola -->
                <img src="{{ images.0.image.url }}" alt="Imagen del post" class="w-full h-56 object-cover rounded-lg">
            {% else %}
                <!-- Carrusel para múltiples imágenes -->
                <div class="flex overflow-hidden">
                    {% for image in images %}
                        <div class="flex-none w-full transition-transform duration-700 ease-in-out transform" 
                             style="display: none;" 
                             id="slide-{{ forloop.counter }}">
                            <img src="{{ image.image.url }}" alt="Imagen del post" class="w-full h-56 object-cover rounded-lg">
                        </div>
                    {% endfor %}
                </div>
              
                <button id="prev" class="absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-1xl px-2 py-1 bg-transparent">
                    &#10094;
                </button>
                <button id="next" class="absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-1xl px-2 py-1 bg-transparent">
                    &#10095;
                </button>
            {% endif %}
        {% endif %}
    </div>
    
    <script>
        let currentSlide = 1;
        const totalSlides = {{ images|length }}; ; 
        
        // Solo ejecutar el carrusel si hay más de una imagen
        if (totalSlides > 1) {
            const showSlide = (index) => {
                const slides = document.querySelectorAll('[id^="slide-"]');
                slides.forEach((slide, i) => {
                    slide.style.display = (i + 1 === index) ? 'block' : 'none';
                });
            };
            
            showSlide(currentSlide);
    
            document.getElementById('next').addEventListener('click', () => {
                currentSlide = currentSlide < totalSlides ? currentSlide + 1 : 1;
                showSlide(currentSlide);
            });
    
            document.getElementById('prev').addEventListener('click', () => {
                currentSlide = currentSlide > 1 ? currentSlide - 1 : totalSlides;
                showSlide(currentSlide);
            });
        }
    
        // Función para reiniciar el carrusel
        function resetCarousel() {
            currentSlide = 1;
            if (totalSlides > 1) {
                showSlide(currentSlide);
            }
        }
    
        // Listener para reiniciar el carrusel después de agregar una nueva imagen
        document.addEventListener('DOMContentLoaded', resetCarousel);

      
    </script>
      <!-- Aca termina mi carrucel  -->

    <div class="mt-4 shadow dark:bg-gray-800 dark:border-gray-700 font-onest">
        <div class="bg-[#34455d] p-4 rounded-lg shadow-lg">
            <h3 class="text-md font-semibold text-white">{{ location }}</h3>
            <p class="text-sm text-gray-300">{{ date }}</p>
        </div>
    </div>

    <div class="px-4 py-2 text-gray-500 flex justify-between text-sm">
        {% if comments_count > 1 %}
            <p>{{ comments_count }} comentarios</p>
        {% elif comments_count == 1 %}
            <p>{{ comments_count }} comentario</p>
        {% else %}
            <p>No hay comentarios</p>
        {% endif %}
{#        <p>Comentar: {{ allow_comments }}</p>#}
        <p class="text-sm text-teal-600">@{{ author }}</p>
    </div>
{#    <div class="px-4 py-2 text-gray-500 flex justify-between text-sm">#}
{#        {% if comments_count > 0 %}#}
{#            <p>{{ comments_count }} comentarios</p>#}
{#        {% else %}#}
{#            <p>No hay comentarios</p>#}
{#        {% endif %} #}
{#    </div>#}


    <div class="flex justify-end items-center gap-2 mt-2">
        {% if post.slug %}
            <a href="{% url 'post:post_detail' slug=post.slug %}" class="px-3 py-2 text-sm font-medium text-center justify-between gap-2 inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-800 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                Ver
            </a>
            {% if user.is_collaborator and post.author == user or user.is_admin %}
                <a href="{% url 'post:post_update' slug=post.slug %}" 
                class="mt-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-900">
                Editar</a>
                <a href="{% url 'post:post_delete' slug=post.slug %}" 
                class="mt-2 text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                Eliminar</a>
                
            {% endif %}
        {% else %}
            <p class="text-red-500">Slug no disponible</p>
        {% endif %}
        
    </div>
</article>
