<p class="grid gap-2 place-content-center text-center text-4xl sm:h-[350px] lg:h-[500px] mt-20 text-white font-onest font-light">
    ¡Visitar los festivales y eventos del Chaco es una experiencia única que no te podés perder! Es el lugar perfecto para sumergirte en la cultura, disfrutar de la música en vivo, la gastronomía local, y conocer la calidez de su gente.
    <span>
        ¡Es la excusa ideal para desconectar de la rutina y vivir momentos inolvidables en un entorno natural impresionante!
    </span>
</p>