<nav>
    <ul class="flex gap-8 text-center justify-center items-center text-md font-martian">
        <li>
            <a href="{% url 'home' %}">Inicio</a>
        </li>
        <li>
            <a href="{% url 'home' %}">Sobre Fetch</a>
        </li>
        <li>
            <a href="{% url 'post:post_detail' slug='festivales-de-chaco' %}">Eventos</a>
        </li>
        <li>
            <a href="{% url 'post:post_detail' slug='festivales-de-chaco' %}">Contactos</a>
        </li>
        
        {% if user.is_authenticated %}
            <!-- Mostrar opciones si el usuario está autenticado -->
            <li>
                <a href="{% url 'user:user_profile' %}">Perfil</a></li>
            <li>
                <form method="POST" action="{% url 'user:auth_logout' %}">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            </li>
        {% else %}
            <!-- Mostrar opciones si el usuario NO está autenticado -->
            <li><a href="{% url 'user:auth_login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
        {% endif %}
        <li>
            {% include 'components/ui/buttonLogin.html' %}
        </li>
        
    </ul>
</nav>