<nav>
    <ul class="flex lg:gap-8 gap-4 text-center justify-center items-center text-md font-martian sm:text-sm">
        <li>
            <a href="{% url 'section_about' %}" class="text-white hover:text-gray-300">Sobre Fetch</a>
        </li>
        <li>
            <a href="{% url 'post:post_list' %}" class="text-white hover:text-gray-300">Eventos</a>
        </li>
        <li>
            <a href="{% url 'section_contact' %}" class="text-white hover:text-gray-300">Contactos</a>
        </li>

        {% if user.is_authenticated %}
            <div class="relative inline-block text-left">
                <button id="profileButton" type="button" class="inline-flex justify-center items-center w-full rounded-full px-4 py-2 bg-[#17153B] font-normal font-onest text-white focus:outline-none">
                    <!-- {% if user_profile.avatar %}
                        <img class="w-8 h-8 rounded-full" src="{{ user_profile.avatar.url }}" alt="Profile">
                    {% else %}
                        <img class="w-8 h-8 rounded-full" src="{{ MEDIA_URL }}media/user/default/avatar_default.jpg" alt="Default Profile">
                    {% endif %} -->
                    <img class="w-8 h-8 rounded-full" src="{{ user.avatar.url }}" alt="Profile">
                    <span class="ml-2 text-lg">@ {{ user.username }}</span>
                </button>
                <div id="profileDropdown" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white font-onest ring-1 ring-black ring-opacity-5 focus:outline-none hidden">
                    <div class="py-1">
                        <a href="{% url 'user:user_profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            Perfil
                        </a>
                        <form method="POST" action="{% url 'user:auth_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="block w-full text-left px-4 py-2 text-red-600 hover:bg-gray-100">
                                Cerrar sesión
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <li>{% include 'components/ui/buttonLogin.html' %}</li>
        {% endif %}
    </ul>
</nav>




