{% extends 'layouts/main_layout.html' %}
{% block title_layout %}
	{% block title %}FeCH | Contactos{% endblock %}
{% endblock %}

{% block content_layout %}
    {% include 'components/commons/header.html' %}
    <main class="flex justify-center min-h-[calc(100vh-152px)] m-4 sm:px-8">
        <section class="container grid sm:grid-cols-1 sm:gap-4 sm:mx-4 gap-8 max-w-6xl mx-auto justify-items-center">
            <header class="grid mt-8 row-span-1 bg-gray-800 p-6 rounded-lg shadow-lg text-center">
                <h1 class="uppercase text-3xl font-slackey text-[#FFAD60]">Nuestros contactos</h1>
                <aside class="flex flex-col items-center">
                    <p class="text-lg font-onest text-white mb-2">
                        ¿Tienes alguna duda, sugerencia o simplemente quieres conocer más sobre nuestro trabajo?
                    </p>
                    <p class="text-lg font-onest text-white">
                        Puedes ponerte en contacto con nosotros a través de nuestras redes sociales o enviarnos un email directamente.
                    </p>
                </aside>
                <div class="flex justify-center items-center">
                    <a href="{% url 'contactus:user_contactus' %}" 
                       class="py-2.5 px-5 me-2 mb-2 text-lg font-onest font-medium text-[#03346E] focus:outline-none bg-white bg-opacity-50 rounded-full border border-black hover:bg-opacity-75 focus:z-10 focus:ring-4 focus:ring-[#03346E] dark:bg-opacity-50 dark:text-[#03346E] dark:hover:bg-opacity-75 text-center">
                        Enviar formulario de contacto
                    </a>
                </div>
            </header>
            
            <!-- Sección principal para Redes Sociales y Desarrolladores -->
            <main class="grid gap-y-8 mt-8 justify-center text-center">
                <!-- Sección de Redes Sociales -->
                <aside class="grid col-span-1 gap-4 mx-auto">
                    <div class="grid">
                        <header>
                            <h1 class="uppercase text-3xl font-normal text-white font-slackey">Redes sociales</h1>
                            <p class="text-base font-light text-gray-200 mt-4">
                                ¡No te pierdas nada! Síguenos en nuestras plataformas y entérate de las sorpresas, novedades exclusivas y mucho más.
                            </p>
                        </header>
                        <div class="flex flex-wrap justify-center gap-8 mt-6">
                            <a href="https://www.facebook.com/" aria-label="Facebook" class="hover:bg-blue-600 p-2 rounded-full transition">
                                <!-- SVG de Facebook -->
                            </a>
                            <a href="https://www.instagram.com/" aria-label="Instagram" class="hover:bg-pink-600 p-2 rounded-full transition">
                                <!-- SVG de Instagram -->
                            </a>
                            <a href="https://mail.google.com/" aria-label="Gmail" class="hover:bg-red-600 p-2 rounded-full transition">
                                <!-- SVG de Gmail -->
                            </a>
                        </div>
                    </div>
                </aside>

                <!-- Sección de Desarrolladores -->
                <aside class="grid col-span-1 gap-4 mx-auto">
                    <div class="grid mt-8">
                        <header>
                            <h1 class="uppercase text-3xl font-normal text-white font-slackey">Desarrolladores</h1>
                            <p class="text-base font-light text-gray-200 mt-4">Para consultas técnicas o relacionadas con el desarrollo de la página</p>
                        </header>
                        <div class="flex flex-wrap justify-center gap-4"> 
                            <a href="mailto:benjamineliaspaez@gmail.com" class="w-64">
                                {% include 'components/ui/developCard.html' with name="Benjamin" email="benjamineliaspaez@gmail.com" %}
                            </a>
                            <a href="mailto:gabrielaam201@gmail.com" class="w-64">
                                {% include 'components/ui/developCard.html' with name="Gabriela" email="gabrielaam201@gmail.com" %}
                            </a>
                            <a href="mailto:njudkevich@gmail.com" class="w-64">
                                {% include 'components/ui/developCard.html' with name="Natasha" email="njudkevich@gmail.com" %}
                            </a>
                        </div>
                    </div>
                </aside>
            </main>
        </section>
    </main>

    {% include 'components/commons/footer.html' %}
{% endblock content_layout %}
